* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

/*#F39B6D pink-orange*/

body {
	font-family: Raleway, sans-serif;
	min-height: 100vh;
	background-color: #B4C1A7;
	background: 
	url("../../assets/images/background-completed.png");                 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center	;
}

.landing-jumbotron{
	background: none;
}

.firstButton, .tri-button, .submit {
	border-radius: 5px;
	color: black;
}

.firstButton:hover, .tri-button:hover, .submit:hover {
	background-color: #F39B6D;
	color: dodgerblue;
}

.btn:hover {
	background-color: #F39B6D;
	color: dodgerblue;
}

hr, .carousel-indicators li, .sr-only {
	background-color: #F39B6D;
}

.side-div {
	/*border-right: 2px solid #F39B6D;*/
}

.row {
}

form {
	border-radius: 0;
	padding: 10px;
	background-color: ;
}

.spacer {
	height: 80px;
}

.btn {
	margin: 0;
	border-radius: 0;
}

.carousel-img {
	height: 400px;
}

.welcome {
	font-weight: ;
	border-radius: 0;
	background: none;
}

.home-about {
	height: 150px;
	background: 
	url("../../assets/images/pexels-photo-176342.jpeg");                 
    background-size: cover; ; 
    background-repeat: no-repeat; 
    background-position: center;
    margin-bottom: 10px; 
}

.home-contact {
	height: 150px;
	background: 
	url("../../assets/images/beautiful.jpg");                 
    background-size: cover; ; 
    background-repeat: no-repeat; 
    background-position: center;
    margin-bottom: 10px; 
}

.home-projects {
	height: 150px;
	background: 
	url("../../assets/images/construction_industry.jpg");                 
    background-size: cover; ; 
    background-repeat: no-repeat; 
    background-position: center;
    margin-bottom: 10px; 
}

.footer {
	font-size: 15px;
}

.vision, .mission {
	height: 200px;
	background-color: #B4C1A7;
}

.projects .row div {
	opacity: .8;
	padding: 5px;
}

.projects .row div:hover {
	opacity: 1;
	padding: 0;
}

.img-link {
	height: 160px;
}

.side-link {
	margin-bottom: 10px;
}

.nav-link:hover {
	background-color: #F39B6D;
	color: dodgerblue;
}

